@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

:root {
  --dark: #000a08;
  --darkBlue: #023d46;
  --medBlue: #1f6772;
  --lightBlue: #579199;
  --light: #e7eff0;
}
